" ****** MiniBufExpl ******
map <leader>mbe :MBEOpen<cr>
map <leader>mbc :MBEClose<cr>
map <leader>mbt :MBEToggle<cr>

" ****** NERDTree ******
let NERDTreeShowBookmarks = 1
let g:NERDTreeDirArrows = 0
nmap <C-b> :NERDTreeToggle<cr>

" ****** EasyMotion ******
let g:EasyMotion_leader_key = '<leader><leader>'

" ****** CtrlP ******
map <D-p> :CtrlP<cr>
map <C-r> :CtrlPBufTag<cr>

set wildignore+=*/vendor/**
set wildignore+=*/public/forum/**
